@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 400vh;
    display: flex;
    background-image: url("./assets/img/background-gray.jpg");
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 27vw;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    border-right: solid 2.4px black;
    position: sticky;
    top: 0;
    background-color: beige;

}


section-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 73vw;
    height: 400vh;
}

section-1,
section-2,
section-3,
section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 50px;
}

section-3 {
    display: grid;
    grid-template-rows: 300px 300px 300px;
}

#text-work-2 {
    margin-top: 50px;
}

#eye {
    width: 200px;
    margin-bottom: 30px;
}

#lips {
    margin-top: 50px;
    width: 200px;
}

.words-logo {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.conteiner-imgs {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    /* grid-template-columns: 1fr 2fr 1fr; */
}

.image-logo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid black 2.5px;
    margin-bottom: 20px;
}

.buttons-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 30px;
    width: 330px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bolder;
    background-color: #EBC3C2;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}


p {
    text-align: center;
    font-size: 30px;
    color: black;
    line-height: 50px;
}

h3,
h4 {
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    color: black;
    font-weight: 700;
}

h1,
h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 40px;
}

.links-aside {
    margin-top: 180px;
    display: flex;
    gap: 25px;
}

.link-wats-2 {
    margin: 50px 0 50px;
    display: flex;
    gap: 25px;
}

.img-trabalhos {
    margin-top: 30px;
    width: 250px;
    height: 250px;
    border: solid black 3px;
    border-radius: 5px;
}

ul {
    font-size: 30px;
    color: black;
}

.title-ul {
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 20px;
}



@media screen and (max-width: 1230px) {

    body {
        display: block;
    }

    aside {
        padding-top: 10px;
        display: block;
        height: 35vh;
        width: 100%;
        border-top-right-radius: none;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
        text-align: center;
        position: static;
        border-right: none;
        border-bottom: solid 2px black;
    }

    section-main {
        width: 100%;
        height: 220vh;
        display: block;
    }

    section-1,
    section-2,
    section-3,
    section-4 {
        
        height: 100vh;
        padding: 10px;
        width: 100%;
    }

    section-3 {
        grid-template-rows: 160px 160px 160px;
        padding: 50px;
    }

    #text-work-2 {
        margin-top: 20px;
    }

    #eye {
        width: 100px;
        margin-bottom: 20px;
    }

    #lips {
        margin-top: 40px;
        width: 100px;
    }

    .conteiner-imgs {
        padding: 50px;
        display: grid;
        grid-template-columns: 80px 80px 80px;
        gap: 5px;
    }

    .img-trabalhos {
        position: static;
        width: 80px;
        height: 80px;
        border: solid black 2px;
    }

    .image-logo {
        width: 100px;
        height: 100px;
        margin-bottom: 5px;
    }

    .buttons-aside {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    button {
        margin-top: 0;
        width: 65px;
        height: 25px;
        font-size: 10px;
        border: solid black 1px;
    }

    .links-aside {

        display: none;
        /* margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        font-size: 10px; */
    }

    h1,
    h2,
    h3,
    h4 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
        color: black;
        line-height: 25px;
    }

    .words-logo {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .image-logo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: solid black 2.5px;
        margin-bottom: none;
    }

    ul {
        font-size: 20px;
        padding: 15px;
    }

    .title-ul {
        font-size: 30px;
        font-weight: 700;
    }


}